*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-image: url(Images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
}

header{
    background-color: darkslategray;
    display: flex;
    justify-content: center;
    border-radius: 10px 10px 0 0;
}
img{
    width: 100px;
    height: auto;
    border-radius: 20px 20px 0 0;
    padding: 10px 0;
    
    
}
.container{
    
    display: flex;
    height: 88vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.48);

}
button{
    background-color: transparent;
    outline: 3px solid whitesmoke;
    padding: 10px;
    border-radius: 2000px;
    border: none;
    box-shadow: 2px 2px 19px black;
    cursor: pointer;
    transition: all 0.34s ease-in-out;
}

a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.3rem;
}
button:hover{
    background-color: black;
    transform: scale(.8);
    font-size: 1.2rem;
    padding: 5px;
    font-family: 'popin', sans-serif;
    box-shadow: 0 0 5px whitesmoke, 0 0 25px whitesmoke, 0 0 50px whitesmoke,0 0 125px whitesmoke;

}